
<div class="card border-dark bg-dark mb-3">
    <div class="card-header">{{card.name}}
        <span class="glyphicon glyphicon-plus" (click)="newElementButtonClick()"></span>
    </div>
    <ul class="list-group list-group-flush class-fill">
        <li class="card-element-container1 list-group-item"
            *ngFor="let cardElement of (cardElementService.cardElementList | cardElementListFilter: card.id) ">
            <!--<div *ngIf="card.id === cardElement.card_id">-->
            <app-card-element [cardElement]="cardElement" class="class-fill"></app-card-element>
            <!--</div>-->
        </li>
    </ul>


</div>



