<div class="card bg-light  mb-3" >
    <div class="card-header" [style.display]="!eventService.isContainerWidthSmall() ? 'inherit' : 'none'">
        <div appLongPress
             (onLongPress)="eventService.changeCardOnServer(card, 'name')">{{card.name}}</div>
        <!--({{cardNumberToShow}})-->
        <div class="card-actions-div"  [style.display]="card.type < 0 ? 'none' : 'inherit'">
            <span (click)="deleteCardButtonClick()"><i class="fas fa-trash" ></i></span>
            <span (click)="newElementButtonClick()"><i class="fas fa-plus " ></i> </span></div>
    </div>
    <ul class="list-group list-group-flush class-fill class-overflow-scroll">
        <div *ngIf="card.type < 0; else elseBlock" class="class-fill">
            <div class="align-text-center flex-1-1 class-fill display-flex-column-center">
                <div class="event_name_div" appLongPress
                     (onLongPress)="eventService.changeEventOnServer(eventService.event,'name')">{{eventService.event.name}}</div>
                <div class="event_date" appLongPress
                     (onLongPress)="eventService.changeEventOnServer(eventService.event,'date','datetime-local')">{{eventService.event.date | date:'EEEE d MMMM yyyy HH:mm'}}</div>

                <h5 class="event_place card-text"  appLongPress
                    (onLongPress)="eventService.changeEventOnServer(eventService.event,'place')">{{eventService.event.place}}</h5>
                <h5 class="event_host">Chez {{eventService.event.host_name}}</h5>
            </div>
        </div>
        <ng-template #elseBlock>
            <li class="card-element-container1 list-group-item"
                *ngFor="let cardElement of (cardElementService.cardElementList | cardElementListFilter: card._id) ">
                <!--<div *ngIf="card._id === cardElement.card_id">-->
                <app-card-element [cardElement]="cardElement" class="class-fill"></app-card-element>
                <!--</div>-->
            </li>
        </ng-template>
    </ul>


</div>



