.card-header {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 100%;
    min-height: 200px;
}


.card-element-container1 {
    flex: 1;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.class-fill {
    height: 100%;
    width: 100%;
}
