<div class="card-element-container"  [style.color]="color">
    <!--(mouseenter)="showInfos(false)" [style.border-color]="color"-->
    <!--(mouseleave)="showInfos(true)" -->
    <!--[style.color]="color">-->

    <div class="card-element-options-container ">
        <!--<div class="card-element-options-container " [hidden]="showInfosBoolean" >-->
        <div class="card-element-option" (click)="unvoteForCard()">
            <span class="glyphicon glyphicon-minus"></span>
        </div>
        <div class="card-element-option card-center" (click)="showCardDetails()">
            <div class="div-scroll">{{cardElement.title}}</div>
            <div>
                <span>{{cardElement.voters.length}}</span> <i class="fas fa-users"></i>
                <span>{{cardElementService.getTotalVotersNumber(cardElement.id)}}</span>
                <span class="glyphicon glyphicon-ok"></span>
                <span class="font-weight-bold">({{getUserNumberVotes()}})</span> <i class="fas fa-user-circle"></i>
            </div>
        </div>
        <div class="card-element-option" (click)="voteForCard()">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
</div>
