<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="first-line-navbar">
        <div class="flex-1-1 flex-and-center">
            <div [style.display]="eventService.isContainerWidthSmall() ? 'inherit' : 'none' ">
                <!--<span class=" margin-right-5px" (click)="goBackToHome()">-->
                    <!--<i class="fas fa-angle-left"></i>-->
                <!--</span>-->
                <div class="navbar-brand flex-1-1">{{event.name}}</div>
            </div>
        </div>

        <div class="align-text-center flex-1-1">
            <div class="event_infos_container"
                 [style.display]="!eventService.isContainerWidthSmall() ? 'inherit' : 'none' ">
                <div class="event_name_div"  appLongPress
                     (onLongPress)="eventService.changeEventOnServer(eventService.event,'name')">{{eventService.event.name}}</div>
                <div class="event_date"  appLongPress
                     (onLongPress)="eventService.changeEventOnServer(eventService.event,'date','datetime-local')">{{eventService.event.date | date:'EEEE d MMMM yyyy HH:mm'}}</div>
                <h5 class="event_place card-text"  appLongPress
                    (onLongPress)="eventService.changeEventOnServer(eventService.event,'place')">{{eventService.event.place}}</h5>
                <h5 class="event_host" >Chez {{eventService.event.host_name}}</h5>
                <button [style.display]="'none'" data-toggle="modal" data-target="#newCardElementModal"
                        #buttonHiddenCardElementModal></button>
            </div>
            <button
                [class]=" userService.isUserNameValid()? ' btn btn-outline-light connexion-button' : ' btn btn-outline-primary connexion-button'"
                (click)="userService.showConnexionFormEvent(true)">
                <div *ngIf=" userService.isUserNameValid(); else elseBlock"><span class="padding-right">{{userService.username}}</span>
                    <i class="fas fa-sync"></i></div>
                <ng-template #elseBlock>
                    <div>Connect <i class="fas fa-user-plus fa-lg"></i></div>
                </ng-template>
            </button>


        </div>

        <div class="flex-1-1 align-text-right flex-and-center">
            <div class=" entire-width" (click)="optionsMenuClick()"
                 [style.display]="eventService.isContainerWidthSmall() ? 'inline' : 'none' ">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>
    <!--Button unused here....-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> buouboub
    </button>


    <div class="collapse navbar-collapse entire-width" id="navbarNavAltMarkup">
        <div class="navbar-nav entire-width"
             [style.display]="eventService.isContainerWidthSmall() ? 'inherit' : 'none'">
            <div class="flex-and-center"
                 [style.display]="eventService.cardNumberToShow > 1 && eventService.event.cards.length > 3 ? 'flex' : 'none'"
                 (click)="eventService.setCardNumberToShow(eventService.cardNumberToShow - 1)">
                <i class="fas fa-lg fa-angle-left"></i>
            </div>
            <a *ngFor="let card of event.cards;" class="nav-item nav-link flex-1-1"
               [style.display]="shouldNavBarCardBeVisible(card._id) ? '' : 'none'"
               [class.active]="eventService.cardIdToShow === card._id"
               appLongPress
               (onSmallPress)="setIdCardToShow(card)"
               (onLongPress)="eventService.changeCardOnServer(card, 'name')">
                {{card.name | showNoName}}</a>
            <div class="flex-and-center"
                 [style.display]="eventService.cardNumberToShow < eventService.event.cards.length - 2 && eventService.event.cards.length > 3 ? 'flex' : 'none'"
                 (click)="eventService.setCardNumberToShow(eventService.cardNumberToShow + 1)">
                <i class="fas fa-lg fa-angle-right"></i>
            </div>
        </div>
    </div>
</nav>
