
.main-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.new-event-button {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.app-aim-div {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.app-title-div{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
