.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.table {
    margin-bottom: 0px;
}

.table td, .table th, .card-header {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.button-container button {
    margin:5px;
}

.card-header {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
