<button
    class="display-none" [style.display]="'none'" data-toggle="modal" data-target="#guestListModal" #buttonModal>
    <div *ngIf=" userService.isUserNameValid(); else elseBlock"><span
        class="padding-right">{{userService.username}}</span> <i class="fas fa-sync"></i></div>
    <ng-template #elseBlock>
        <div>Not connected <i class="fas fa-user-plus fa-lg"></i></div>
    </ng-template>

</button>

<!-- Modal -->
<div class="modal fade" id="guestListModal" tabindex="-1" role="dialog" aria-labelledby="guestListModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Who are you ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<h4>Guests list</h4>-->
                <div>
                    <!--Ici j'affiche le nom de l'hote et ensuite tous les invités-->
                    <button class="btn btn-primary btn-guest"
                            (click)="chooseName(event.host_name)" [class.active]="event.host_name===userName">
                        {{ event.host_name }}
                    </button>
                    <button *ngFor="let guest of event.guests" class="btn btn-primary btn-guest"
                            (click)="chooseName(guest)" [class.active]="guest  === userName">
                        {{ guest }}
                    </button>
                    <button class="btn btn-outline-primary btn-guest"
                            (click)="showInputNewGuest(guest)">
                        <i class="fas fa-plus "></i>
                    </button>
                </div>

                <form [style.display] = "inputNewGuestVisible ? '' : 'none' " #newNameForm="ngForm">
                    <hr>
                    <h4>New ?</h4>
                    <div class="new-guest-div">
                        <input type="text" class="form-control" id="inputName" placeholder="Your name" name ='newGuestNameTyped' [(ngModel)] = 'newGuestNameTyped' #newGuestName>
                        <button class="btn btn-primary" (click)="addNewGuest(newGuestNameTyped)" data-dismiss="modal">
                            Join
                        </button>
                    </div>
                </form>

                <hr>
                <div class="chosen-name-div">
                    You are {{userName}}
                </div>
            </div>
        </div>
    </div>
</div>
