<div class="container " [style.height]="isContainerWidthSmall() ? '100%' : 'initial' ">
    <div class="event_infos_container">
        <div class="event_date">{{event.date | date:'medium'}}</div>
        <div class="title_add_card_container" [style.display]="'flex'">
            <div class="event_name">{{event.name}}</div>
            <app-card-creation></app-card-creation>
        </div>
        <h5 class="event_place card-text">{{event.place}}</h5>
        <h5 class="event_host">Chez {{event.host_name}}</h5>
        <!--<app-guest></app-guest>-->



        <button [style.display]="'none'" data-toggle="modal" data-target="#newCardElementModal"
                #buttonHiddenCardElementModal></button>
    </div>
    <div [style.color]="'white'" [style.display]="'flex'" [style.width]="'100%'">
        <a class="navbar-brand" href="#">Navbar</a>
        <a [style.color]="white"> More informations</a>
        <i class="fas fa-ellipsis-v"></i>
    </div>
    <app-navbar></app-navbar>


    <div class="card_container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
         (touchmove)="swipe($event, 'move')"
         (window:resize)="onResize($event)">
        <div class="row" [style.height]="isContainerWidthSmall() ? '100%' : 'initial' ">
            <div *ngFor="let card of event.cards" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 card-container-div"
                 [style.display]="shouldCardBeHidden(card)">
                <app-card [card]="card" [cardNumberToShow]="textCardNumber"
                          (onNewElementClick)="onNewElementClick($event)"></app-card>
            </div>
        </div>
    </div>

</div>


<!-- Modal choix nom carte -->
<div class="modal fade" id="newCardElementModal" tabindex="-1" role="dialog" aria-labelledby="newCardElementModalLabel"
     #newCardElementModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cardNameLabel">Add element</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-name-div">
                        <input autofocus [(ngModel)]="newCardElementName" name="newCardElementName" type="text"
                               class="form-control" id="inputCardName" placeholder="Card Element Name"
                               #newCardElementNameInput>
                        <button class="btn btn-primary"
                                (click)="createNewCardElement(event.id, newCardElementNameInput.value)"
                                data-dismiss="modal">New
                            Element
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
