<div class="container">
    <div class="event_infos_container">
        <a href="#">
            <span class="glyphicon glyphicon-asterisk"></span> VOici mon test
        </a>
        <div class="event_date">{{event.date | date:'medium'}}</div>
        <h2 class="event_name">{{event.name}}</h2>
        <h5 class="event_place card-text">{{event.place}}</h5>
        <h5 class="event_host">Chez {{event.host_name}}</h5>
        <div class="buttons_container">
            <app-guest></app-guest>
            <app-card-creation></app-card-creation>
        </div>
    </div>

    <hr>
    <div class="card_container container">
        <div class="row">
            <div *ngFor="let card of event.cards" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-container-div">
                <div class="card">
                    <div class="card-header">
                        {{card.name}}
                        <span class="glyphicon glyphicon-search" data-toggle="modal" data-target="#guestListModal" aria-hidden="true"></span>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#guestListModal">+</button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        This is some text within a card body.

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


