<div class=" modal-container fade" [style.opacity]="modalOpacity"
     ngClass="{{modalState}}" (keydown.enter)="returnNewValue()" (click)="sendValueAndCloseModal(null)" #modalContainer>
    <div class="modal-div "
         (click)="$event.stopPropagation()">
        <div *ngIf="modalData.title" class="modal-title">
            {{modalData.title}}
        </div>
        <div class="modal-body" [style.display]="modalBodyDisplay()">
            {{modalData.bodyMessage}}
            <input #newDataInput name="newDataInput" *ngIf="modalData.inputType" type="{{modalData.inputType}}" [(ngModel)]="modalData.modalValue">
            <div *ngFor="let choice of modalData.arrayChoices" class="choice-div" (click)='returnNewValue(choice)'>
                {{choice}}
            </div>
        </div>
        <div class="modal-footer" [style.display]="modalFooterDisplay()">
            <button class="modal-button" (click)="sendValueAndCloseModal(null)">{{modalData.buttonCancelText}}</button>
            <button class="modal-button" (click)="returnNewValue()" >{{modalData.buttonValidText}}</button>
        </div>
    </div>
</div>

<div (click)="fakeShowModal()">Test</div>
<div (click)="fakeShowModal2()">Test</div>
<div (click)="fakeShowModal3()">Test</div>
