
.research-bar {
  display: flex;
  align-items: center;
  height: 100%;
    position: relative;
}

.new-event-button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}

.test-container {
  display: flex; /* ??? */
}

::placeholder { /* Most modern browsers support this now. */
  color: #0275d8;
}
