<div class="container research-bar-container">
    <!--<div class="input-group mb-3">-->
        <!--<input type="text" class="form-control " placeholder="Enter event code here" aria-label="Recipient's username"-->
               <!--aria-describedby="basic-addon2">-->
        <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary" type="button">Find Event</button>-->
        <!--</div>-->
    <!--</div>-->


    <div class="research-bar">
        <input type="text" class="form-control research-input" placeholder="Enter event code here" aria-label="Recipient's username"
               aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary research-button" type="button">Find Event</button>

        <button class="btn btn-primary new-event-button" (click)="newEvent()"> +</button>
    </div>


</div>




